<div style="background-color: yellow; padding: 15px">
	<p>
	<p>{{global}}</p>
	<input type="number" ng-model="calculadora.num1">
	</p>
	<p>
		<input type="number" ng-model="calculadora.num2">
	</p>
	<p>
		<button ng-click="sumar()">+</button>
	</p>
	<p>
		<button ng-click="restar()">-</button>
	</p>
	<p>
		<button ng-click="dividir()">/</button>
	</p>
	<p>
		<button ng-click="multiplicar()">*</button>
	</p>
	<p>
		<button class="btn btn-success" ng-click="factoria()">Factoria</button>
	</p>
</div>